h2 {
  margin: 0;
}
.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100vw;
  font-family: "Reggae";
  font-weight: 600;
  font-size: 8rem;
  color: white;
}