.battle-card__image-container__1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 20rem;
  width: 50%;
}
.battle-card__image {
  width: 12rem;
  height: 13rem;
}

.battle-card__health__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 12rem;
  background-color: #4caf50;
  color: darkgreen;
  font-family: "Reggae";
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin: 1vw;
  margin-right: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}