.battle-card__image-container__1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  width: 50%;
}
.battle-card__image__1 {
  width: 12rem;
  height: 13rem;
  margin-right: 5rem;
}

.battle-card__health__1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 12rem;
  background-color: #4caf50;
  color: darkgreen;
  font-family: "Reggae";
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin: 1vw;
  margin-right: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.battle-card__attacks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 12rem;
  background-color: #4caf50;
  color: darkgreen;
  font-family: "Reggae";
  font-size: 2rem;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin: 1vw;
  cursor: pointer;
}

.battle-card__div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
}