.winnerpage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__title {
      color: white;
      font-size: 64px;
  }
  &__div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30rem;
  }
  &__winner {
      width: 10%;
  }
  &__img {
      width: 10%;
  }
}