.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../../assets/modern-futuristic-sci-fi-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}